<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <%- include('linkBootstrap') %>
    <link rel="stylesheet" href="/stylesheets/editBand.css" />
  </head>
  <body>
    <div class="container-fluid">
      <main>
        <section class="section1 row">
          <div class="col-12">
            <div class="header"><%- include('navbar') %></div>
            <div class="cosa">
              <div class="register">
                <h3>Edit band</h3>

                <h4><%= typeof message != 'undefined' ? message: null %></h4>

                <div>
                  <form
                    class="form-create"
                    action="/bands/editBand/<%= band.band_id %>"
                    method="post"
                    enctype="multipart/form-data"
                  >
                    <div class="field-group">
                      <input
                        type="text"
                        placeholder="Band Name"
                        value="<%= band.band_name %>"
                        class="input-field"
                        name="band_name"
                      />
                      <div class="icon">
                        <img src="/assets/person.svg" alt="" />
                      </div>
                    </div>

                    <div class="field-group">
                      <select
                        type="text"
                        value="<%= band.style %>"
                        name="style"
                        class="input-field"
                      >
                        <option value="Rock">Rock</option>
                        <option value="K-Pop">K-Pop</option>
                        <option value="Metalcore">Metalcore</option>
                        <option value="Punk">Punk</option>
                        <option value="Indie/Folk">Indie/Folk</option>
                        <option value="Orchestra">Orchestra</option>
                      </select>
                      <div class="icon">
                        <img src="/assets/music-note.svg" alt="" />
                      </div>
                    </div>

                    <div class="field-group">
                      <textarea
                        name="description"
                        class="input-field"
                        value="<%= band.description %>"
                        placeholder="About the band..."
                        cols="20"
                        rows="3"
                      ></textarea>
                      <div class="iconDescription">
                        <img src="/assets/card-text.svg" alt="" />
                      </div>
                    </div>

                    <div class="field-group">
                      <input
                        type="text"
                        name="phone_number"
                        value="<%= band.phone_number %>"
                        class="input-field"
                        placeholder="Phone Number"
                      />
                      <div class="icon">
                        <img src="/assets/telephone.svg" alt="" />
                      </div>
                    </div>

                    <div class="field-group">
                      <label
                        for="band_img"
                        class="input-fieldFile btn btn-primary"
                        >+ Add Image</label
                      >
                      <input type="file" name="img" id="band_img" hidden />
                      <div class="icon">
                        <img src="/assets/file-earmark-image.svg" alt="" />
                      </div>
                    </div>

                    <div class="botonesForm">
                      <button>aceptar</button>
                      <button class="clean" type="button">
                        <a href="/">cancelar </a>
                      </button>
                      <button class="clean" type="reset">reset</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="logo">
                <img src="/assets/logo_pua.png" alt="" />
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

    <%- include('scriptBootstrap') %>
  </body>
</html>
